/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}

.top-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed;
}
.top-video h1{
    position: absolute;
    top: 50vh;
    color: white;
    z-index: 2;
}
.top-video p{
    position: absolute;
    top: 57vh;
    color: white;
    z-index: 1;
    margin: 0 150px 0;
}
.top-video video{
    opacity: 0.7;
    z-index: 0;
}
.content{
    position: relative;
    top: 100vh;
    background-color: rgba(255, 255, 255, 0.751);
    transition: 1s;
}
.content:hover{
    background-color: rgb(255, 255, 255);
}